<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Feedback</title>
</head>

<body>
    <div>
    <h2>Your Valueable Feedbacks!</h2>
    <p>Name: <%=feedbackData.name %></p>
    <p>Number: <%=feedbackData.number %></p>
    <p>Rating: <%=feedbackData.rating %></p>
    
    </div>
</body>
</html>